# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# local env
.env*
!.env.example

# Vercel
.vercel

# Supabase local
.supabase/

# misc
.DS_Store
*.pem
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
